@import url(https://fonts.googleapis.com/css?family=Hammersmith+One:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* ==================================NULL================================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

body,
html {
    height: 100%;
    line-height: 1;
    background-color: #343030;
    color: #fff;
    font-family: "Hammersmith One", "arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

a {
    text-decoration: underline;
    color: #2CA9BC;
}

/* ================================================================ */
/* .wrapper::after {
    content: url(img/svg/back-element-serf.svg);
    position: absolute;
    top: 0;
    transform: translate(-10%, 0);
    width: 100%;
    height: 2436px;
}



[data-sun]::before {
    content: url(img/svg/sun.svg);
    position: absolute;
    bottom: -180px;
    right: -100px;
    width: rem(226);
    height: rem(227);
    animation: rotate 30s infinite linear;
    animation-name: sun;
    z-index: 2;
}

@keyframes sun {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* ======================================================================================= */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    /* padding: 0px 20px; */
}

[class*="__container"] {
    margin: 0px auto;
    max-width: 1440px;
    padding: 0 20px;
}

.main {
    flex: 1 1 auto;
}

.title {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0.25em;
}

@media (max-width:1200px) {
    .title {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (max-width:700px) {
    .title {
        font-size: 32px;
        line-height: 42px;
    }
}

.font-size32 {
    font-size: 32px;
    font-weight: 700;
}

.padding {
    padding-bottom: 24px;
}

/* ======================================================================================= */
.header {}

.header__menu {}

.menu {
    display: grid;
    grid-template-columns: 300px 1fr;
    background: #2A2A2A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 40px rgba(0, 0, 0, 0.25);
}

@media (max-width:800px) {
    .menu {
        grid-template-columns: 1fr;
        justify-items: center;
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .menu {
        grid-template-columns: 1fr;
        justify-items: center;
        font-size: 12px;
    }
}

.logo {
    padding: 5px 0;
    align-self: center;
}

@media (max-width:800px) {
    .logo {
        display: none;
    }
}

.menu__icon {}

.icon-menu {}

.menu__body {
    padding: 15px 40px;
    background: #2A2A2A;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 20px 40px rgba(0, 0, 0, 0.25); */
    display: flex;
    justify-content: end;
    font-family: "Inter", "arial", sans-serif;
}

@media (max-width:400px) {
    .menu__body {
        padding: 15px 10px;

    }
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1440px;
    flex-wrap: wrap;
}

@media (max-width:1270px) {
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        max-width: 1440px;
        flex-wrap: wrap;
    }
}



.menu__item {
    text-align: center;
}

.menu__link {
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: #fafdfd;
}



@media (max-width:1270px) {
    .menu__link_logo {
        display: none;
    }
}

.menu__link_image img {
    width: 75%;
    align-self: center;
}



/* ======================================================================================= */

.main-section {
    position: relative;
}

.main-section__container {
    padding: 30px 30px 150px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
}

@media (max-width:1200px) {
    .main-section__container {
        padding: 30px 50px 150px 50px;
        grid-template-columns: 1fr;
        gap: 0px;
    }
}

@media (max-width:700px) {
    .main-section__container {
        padding: 30px 30px 150px 30px;
    }
}

.main-section__container::before {
    content: url(img/svg/wave2.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 123px;
}



.main-section__description {
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width:700px) {
    .main-section__description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.main-section__title {
    letter-spacing: 0em;
    align-self: center;
}

.main-section__text {
    align-content: center;

}

@media (max-width:1200px) {
    .main-section__text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {
    .main-section__text {
        display: flex;
        flex-direction: column;
    }
}

.main-section__text_left {
    line-height: 30px;
}

.main-section__text_left p {
    position: relative;
}

.main-section__text_left h4 {
    color: #2CA9BC;
}

.main-section__text_left p::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #2CA9BC;
    border-radius: 50%;
}

.main-section__text_right {
    line-height: 30px;
    text-align: end;
    margin-top: -210px;
}

@media (max-width:1200px) {
    .main-section__text_right {
        text-align: end;
        margin-top: 0px;
        align-self: self-end;
    }
}

@media (max-width:700px) {
    .main-section__text_right {
        text-align: left;
        padding-left: 0px;
        margin-top: 20px;
        align-self: self-start;
    }
}

.main-section__text_right p {
    position: relative;
}

.main-section__text_right h4 {
    color: #2CA9BC;
    margin-right: -22px;
}

.main-section__text_right p::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #fcfcfc;
    border-radius: 50%;
}

@media (max-width:700px) {
    .main-section__text_right p::after {
        content: '';
        position: absolute;
        left: -20px;
        top: 10px;
        width: 10px;
        height: 10px;
        background-color: #fcfcfc;
        border-radius: 50%;
    }
}

.main-section__image {
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.25));
    text-align: end;
    align-self: center;
}

@media (max-width:1200px) {
    .main-section__image {
        padding-top: 50px;
        text-align: center;
        align-self: center;
    }
}

.main-section__image img {
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
    border-radius: 20px;
    border: #2CA9BC 4px solid;
}



@media (max-width:700px) {
    .main-section__image img {
        width: 100%;
    }
}

/* ======================================================================================= */

.descrizione {}

.descrizione__container {
    padding: 25px 15px 150px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: relative;
}

@media (max-width:1200px) {
    .descrizione__container {
        padding: 25px 15px 100px 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        position: relative;
    }
}

.descrizione__container:after {
    content: url(img/svg/wave-white.svg);
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 96px;
}

.descrizione__image {
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.25));
    text-align: end;
    align-self: center;
    margin-top: 50px;
}

@media (max-width:1200px) {
    .descrizione__image {
        text-align: center;
    }
}

.descrizione__image img {
    max-width: 700px;
    max-height: 700px;
    object-fit: cover;
    border-radius: 20px;
    outline: #fafdfd 4px solid;
}

@media (max-width:1200px) {
    .descrizione__image img {
        max-width: 100%;
    }
}

.descrizione__description {
    padding-top: 50px;
}

@media (max-width:400px) {
    .descrizione__description {
        padding-top: 25px;
        font-size: 16px;
    }
}

.descrizione__title {}

@media (max-width:400px) {
    .descrizione__title {
        font-size: 24px;
    }
}

.descrizione__text {
    text-align: center;
    line-height: 30px;
}

.descrizione__text p {
    margin-bottom: 20px;
}

/* ======================================================================================= */

.benefici {}

.benefici__container {
    padding: 30px 15px 160px 15px;
    position: relative;
}

@media (max-width:700px) {
    .benefici__container {
        padding: 30px 15px 120px 15px;
    }
}

.benefici__container:after {
    content: url(img/svg/wave-white-reverse.svg);
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 96px;
}

.benefici__description {}

.benefici__title {
    letter-spacing: 0;
}


.benefici__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

@media (max-width:1000px) {
    .benefici__cards {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media (max-width:700px) {
    .benefici__cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.benefici__card {
    border: #fff 2px solid;
    padding: 10px;
    border-radius: 10px;
}

.card-benefici {}

.card-benefici__top {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-bottom: 30px;
}

@media (max-width:700px) {
    .card-benefici__top {
        padding-bottom: 15px;
    }
}

.card-benefici__image {
    text-align: center;
}

.card-benefici__image img {
    width: 80px;
}

.card-benefici__title {
    color: #2CA9BC;
    font-size: 32px;
    align-self: center;
    text-align: center;
}

.card-benefici__bottom-text {
    text-align: center;
}

/* ======================================================================================= */



.garanzia {}

.garanzia__container {
    padding: 50px 15px 120px 15px;
    position: relative;
}

.garanzia__container:after {
    content: url(img/svg/wave-azurro.svg);
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 96px;
}

.garanzia__description {}

.garanzia__title {}

.garanzia__text {
    text-align: center;
    line-height: 30px;
}

@media (max-width:700px) {
    .garanzia__text {
        font-size: 16px;
    }
}

.garanzia__text p {
    padding-bottom: 25px;
}

/* ======================================================================================= */


.bottom-block {}

.bottom-block__container {
    padding: 50px 15px 0px 15px;
    position: relative;
}

.bottom-block__container::after {
    content: url(img/svg/wave2.svg);
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: 2;
}

.bottom-block__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:1200px) {
    .bottom-block__body {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.bottom-block__image {
    position: relative;
    z-index: 2;
    left: 80px;
    bottom: -60px;
}

@media (max-width:1200px) {
    .bottom-block__image {
        display: none;
    }
}

.bottom-block__description {
    text-align: center;
    align-self: center;
}


/* ======================================================================================= */

.bottom-block__pagamenti {}

.pagamenti {
    position: relative;
}

.pagamenti::after {
    content: url(img/svg/cordLINE.svg);
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: 2;
}

.pagamenti__body {
    padding: 0 0 50px 0;
}


.pagamenti__payment {}

.pagamenti__payment_typelist {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media (max-width:700px) {
    .pagamenti__payment_typelist {
        grid-template-columns: 1fr;
    }
}

.pagamenti__payment_typelist li {
    position: relative;
    align-self: center;
    width: 200px;
    padding: 10px 0;
    font-size: 24px;
}



.pagamenti__title {
    letter-spacing: 0em;
}

.pagamenti__payment_typelist li::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: #c7a615;
    border-radius: 50%;

}

.pagamenti__payment_typelist {}

/* ======================================================================================= */

.bottom-block__spedizione {}

.spedizione {
    margin-bottom: 60px;
    position: relative;
}

.spedizione::after {
    content: url(img/svg/cordLINE.svg);
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: 2;
}

.spedizione__title {}

.spedizione__text {
    line-height: 30px;
}

/* ======================================================================================= */

.bottom-block__tracking {}

.tracking {
    margin-bottom: 60px;
    position: relative;
}

.tracking::after {
    content: url(img/svg/cordLINE.svg);
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: 2;
}

.tracking__title {}

.tracking__text {
    line-height: 30px;
}

/* ======================================================================================= */

.bottom-block__contatti {}

.contatti {
    margin-bottom: 60px;
    line-height: 30px;
    padding: 0 0 100px 0;
}

.contatti__title {}

.contatti__address {}

.contatti__email {}

/* ======================================================================================= */

.footer {}

.footer__menu {
    position: relative;
    padding: 20px 0;
}



.footer__menu::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -100px;
    width: 100%;
    height: 100px;
    background-color: #2A2A2A;
    z-index: 1;
}